In [1]:
import os
import json
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [5]:
#aggregate_transaction

agg_trans_path="C:/Users/Happy/Desktop/capstone/phonepe/pulse/data/aggregated/transaction/country/india/state/"
aggregation_list= os.listdir(agg_trans_path)

Agg_tra = {'State': [], 'Year': [], 'Quarter': [], 'Transaction_type': [], 'Transaction_count': [], 'Transaction_amount': []}
for i in aggregation_list:
    year = agg_trans_path+i+"/"
    year_list = os.listdir(year)

    for j in year_list:
        file= year + j +"/"
        file_list= os.listdir(file)
        
        for k in file_list:
            folder = file+k
            data= open(folder,"r")
            first=json.load(data)

            for l in first["data"]["transactionData"]:
                name=l["name"]
                count = l['paymentInstruments'][0]['count']
                amount = l['paymentInstruments'][0]['amount']
                Agg_tra['State'].append(i.title().replace('-',' '))
                Agg_tra['Year'].append(j)
                Agg_tra['Quarter'].append(int(k.strip('.json')))
                Agg_tra['Transaction_type'].append(name)
                Agg_tra['Transaction_count'].append(count)
                Agg_tra['Transaction_amount'].append(amount)
agg_trans_df=pd.DataFrame(Agg_tra)
#agg_trans_df.to_csv('aggregated_transactions',index=False)

In [4]:
agg_trans_df

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,Andaman & Nicobar Islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,Andaman & Nicobar Islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,Andaman & Nicobar Islands,2018,1,Merchant payments,298,4.525072e+05
3,Andaman & Nicobar Islands,2018,1,Financial Services,33,1.060142e+04
4,Andaman & Nicobar Islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4309,West Bengal,2023,4,Merchant payments,354067997,2.390738e+11
4310,West Bengal,2023,4,Peer-to-peer payments,317959249,9.641385e+11
4311,West Bengal,2023,4,Recharge & bill payments,64920775,4.531943e+10
4312,West Bengal,2023,4,Financial Services,480740,4.590073e+08
4313,West Bengal,2023,4,Others,524477,4.041567e+08

In [5]:
#aggregate user
agg_user_path =("C:/Users/Happy/Desktop/capstone/phonepe/pulse/data/aggregated/user/country/india/state/")
agg_user_list = os.listdir(agg_user_path)

agg_user = {'State':[], 'Year':[], 'Quater':[], 'Brand':[], 'User_count':[], 'User_percentage':[]}

for i in agg_user_list:
    user_year= agg_user_path+i+"/"
    user_year_list=os.listdir(user_year)

    for j in user_year_list:
        user_file= user_year+j+"/"
        user_file_list= os.listdir(user_file)
        
        for k in user_file_list:
            user_folder= user_file + k
            user_data = open(user_folder,"r")
            user= json.load(user_data)

            try:

                for l in user['data']['usersByDevice']:
                        agg_user['State'].append(i.title().replace('-',' '))
                        agg_user['Year'].append(j)
                        agg_user['Quater'].append(int(k.strip('.json')))
                        brand= l['brand']
                        count=l['count']
                        percent=l['percentage']
                        agg_user['Brand'].append(brand)
                        agg_user['User_count'].append(count)
                        agg_user['User_percentage'].append(percent*100)
            except:
                pass
agg_user_df = pd.DataFrame(agg_user)   
#agg_user_df.to_csv('aggregated_user',index=False)

In [6]:
#Map transaction
map_trans_path= ("C:/Users/Happy/Desktop/capstone/phonepe/pulse/data/map/transaction/hover/country/india/state/")
map_trans_list=os.listdir(map_trans_path)

map_transaction={'State':[],'District':[],'Year':[],'Quater':[],'Transaction_count':[],'Transaction_amount':[]}

for i in map_trans_list:
    year_tran=map_trans_path+i+"/"
    year_tran_list=os.listdir(year_tran)
    
    for j in year_tran_list:
        file_tran= year_tran+j+"/"
        file_list=os.listdir(file_tran)
        
        for k in file_list:
            trans_folder=file_tran+k
            folder = open(trans_folder,"r")
            map_tran= json.load(folder)
            
            for l in map_tran['data']['hoverDataList']:
                district=l['name']
                count=l['metric'][0]['count']
                amount=l['metric'][0]['amount']
                map_transaction['State'].append(i.title().replace('-',' '))
                map_transaction['Year'].append(j)
                map_transaction['Quater'].append(int(k.removesuffix('.json')))
                map_transaction['District'].append(district.removesuffix('district').title().replace('And','and').replace('andaman','Andaman'))
                map_transaction['Transaction_count'].append(count)
                map_transaction['Transaction_amount'].append(amount)
map_tran_df= pd.DataFrame(map_transaction)
#map_tran_df.to_csv('map_transaction',index=False)

In [7]:
#map user data
map_user_path= ("C:/Users/Happy/Desktop/capstone/phonepe/pulse/data/map/user/hover/country/india/state/")
map_user_list=os.listdir(map_user_path)

map_user={'State':[],'District':[],'Year':[],'Quater':[],'Registered_user':[],'Appopened':[]}

for i in map_user_list:
    year_user=map_user_path+i+"/"
    year_user_list=os.listdir(year_user)
    
    for j in year_user_list:
        file_user= year_user+j+"/"
        file_list=os.listdir(file_user)
        
        for k in file_list:
            user_folder=file_user+k
            folder = open(user_folder,"r")
            map_usr= json.load(folder)

            for l,m in map_usr['data']['hoverData'].items():
                reg_user = m['registeredUsers']
                app_open = m['appOpens']
                map_user['State'].append(i.title().replace('-',' '))
                map_user['District'].append(l.removesuffix('district').title().replace('And','and').replace('andaman','Andaman'))
                map_user['Year'].append(j)
                map_user['Quater'].append(int(k.removesuffix('.json')))
                map_user['Registered_user'].append(reg_user)
                map_user['Appopened'].append(app_open)

map_user_df=pd.DataFrame(map_user)
#map_user_df.to_csv('map_user',index=False)

In [10]:
#top transactions district
top_tran_path= ("C:/Users/Happy/Desktop/capstone/phonepe/pulse/data/top/transaction/country/india/state/")
top_tran_list=os.listdir(top_tran_path)

top_trans={'State':[],'District':[],'Year':[],'Quater':[],'Transaction_count':[],'Transaction_amount':[]}

for i in top_tran_list:
    year_tran=top_tran_path+i+"/"
    year_tran_list=os.listdir(year_tran)
    
    for j in year_tran_list:
        file_tran= year_tran+j+"/"
        file_list=os.listdir(file_tran)
        
        for k in file_list:
            tran_folder=file_tran+k
            folder = open(tran_folder,"r")
            top_tran= json.load(folder)

            for l in top_tran['data']['districts']:
                district= l['entityName']
                count=l['metric']['count']
                amount=l['metric']['amount']
                top_trans['State'].append(i.title().replace('-',' '))
                top_trans['District'].append(district.title().replace('And','and').replace('andaman','Andaman'))
                top_trans['Year'].append(j)
                top_trans['Quater'].append(int(k.removesuffix('.json')))
                top_trans['Transaction_count'].append(count)
                top_trans['Transaction_amount'].append(amount)

top_trans_dist_df=pd.DataFrame(top_trans)
#top_trans_dist_df.to_csv('top_transaction_district',index=False)

In [8]:
#top transaction pincode
top_tran_path= ("C:/Users/Happy/Desktop/capstone/phonepe/pulse/data/top/transaction/country/india/state/")
top_tran_list=os.listdir(top_tran_path)

top_trans={'State':[],'District':[],'Year':[],'Quater':[],'Transaction_count':[],'Transaction_amount':[]}

for i in top_tran_list:
    year_tran=top_tran_path+i+"/"
    year_tran_list=os.listdir(year_tran)
    
    for j in year_tran_list:
        file_tran= year_tran+j+"/"
        file_list=os.listdir(file_tran)
        
        for k in file_list:
            tran_folder=file_tran+k
            folder = open(tran_folder,"r")
            top_tran= json.load(folder)

            for l in top_tran['data']['pincodes']:
                district= l['entityName']
                count=l['metric']['count']
                amount=l['metric']['amount']
                top_trans['State'].append(i.title().replace('-',' '))
                top_trans['District'].append(district)
                top_trans['Year'].append(j)
                top_trans['Quater'].append(int(k.removesuffix('.json')))
                top_trans['Transaction_count'].append(count)
                top_trans['Transaction_amount'].append(amount)

top_trans_pin_df=pd.DataFrame(top_trans)
#top_trans_pin_df.to_csv('top_transaction_pincode',index=False)

In [11]:
#top_user_district
top_user_path= ("C:/Users/Happy/Desktop/capstone/phonepe/pulse/data/top/user/country/india/state/")
top_user_list=os.listdir(top_user_path)

top_users={'State':[],'District':[],'Year':[],'Quater':[],'Registered_user':[]}

for i in top_user_list:
    year_user=top_user_path+i+"/"
    year_user_list=os.listdir(year_user)
    
    for j in year_user_list:
        file_user= year_user+j+"/"
        file_list=os.listdir(file_user)
        
        for k in file_list:
            user_folder=file_user+k
            folder = open(user_folder,"r")
            top_user= json.load(folder)

            for l in top_user['data']['districts']:
                district=l['name']
                count=l['registeredUsers']
                top_users['State'].append(i.title().replace('-',' '))
                top_users['District'].append(district.title())
                top_users['Year'].append(j)
                top_users['Quater'].append(int(k.removesuffix('.json')))
                top_users['Registered_user'].append(count)

top_user_dist_df=pd.DataFrame(top_users)
#top_user_dist_df.to_csv('top_user_district',index=False)

In [12]:
#top_user_pincode
top_user_path= ("C:/Users/Happy/Desktop/capstone/phonepe/pulse/data/top/user/country/india/state/")
top_user_list=os.listdir(top_user_path)

top_users={'State':[],'District':[],'Year':[],'Quater':[],'Registered_user':[]}

for i in top_user_list:
    year_user=top_user_path+i+"/"
    year_user_list=os.listdir(year_user)
    
    for j in year_user_list:
        file_user= year_user+j+"/"
        file_list=os.listdir(file_user)
        
        for k in file_list:
            user_folder=file_user+k
            folder = open(user_folder,"r")
            top_user= json.load(folder)

            for l in top_user['data']['pincodes']:
                district=l['name']
                count=l['registeredUsers']
                top_users['State'].append(i.title().replace('-',' '))
                top_users['District'].append(district)
                top_users['Year'].append(j)
                top_users['Quater'].append(int(k.removesuffix('.json')))
                top_users['Registered_user'].append(count)
top_user_pin_df=pd.DataFrame(top_users)
#top_user_pin_df.to_csv('top_user_pincode',index=False)

In [13]:
df_list = [df for df in globals() if isinstance(globals()[df], pd.core.frame.DataFrame) and df.endswith('_df')]

df_list

['agg_trans_df',
 'agg_user_df',
 'map_tran_df',
 'map_user_df',
 'top_trans_dist_df',
 'top_user_dist_df',
 'top_user_pin_df']

In [14]:
top_user_pin_df

                          State District  Year  Quater  Registered_user
0     Andaman & Nicobar Islands   744103  2018       1             1608
1     Andaman & Nicobar Islands   744101  2018       1             1108
2     Andaman & Nicobar Islands   744105  2018       1             1075
3     Andaman & Nicobar Islands   744102  2018       1             1006
4     Andaman & Nicobar Islands   744104  2018       1              272
...                         ...      ...   ...     ...              ...
8563                West Bengal   700015  2023       4           126663
8564                West Bengal   742304  2023       4           123320
8565                West Bengal   721101  2023       4           123088
8566                West Bengal   700150  2023       4           119283
8567                West Bengal   700091  2023       4           118578

[8568 rows x 5 columns]

In [11]:
mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="root",
                        database="phonepe",
                        port="5432")
mycursor=mydb.cursor()

In [6]:
#df_agg_trans=pd.read_csv('aggregated_transactions')
#df_agg_user=pd.read_csv('aggregated_user')
#df_map_trans=pd.read_csv('map_transaction')
#df_map_user=pd.read_csv('map_user')
#df_top_trans_dist=pd.read_csv('top_transaction_district')
#df_top_user_dist=pd.read_csv('top_user_district')
#df_top_trans_pin=pd.read_csv('top_transaction_pincode')
#df_top_user_pin=pd.read_csv('top_user_pincode')

In [7]:
mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="root",
                        database="phonepe",
                        port="5432")
mycursor=mydb.cursor()
 
engine = create_engine('postgresql+psycopg2://postgres:root@localhost/phonepe')

agg_trans_df.to_sql('aggregated_transactions', engine, if_exists='replace', index=False)
agg_user_df.to_sql('aggregated_user', engine, if_exists='replace', index=False)
map_tran_df.to_sql('map_transactions', engine, if_exists='replace', index=False)
map_user_df.to_sql('map_user', engine, if_exists='replace', index=False)
top_trans_dist_df.to_sql('top_transaction_district', engine, if_exists='replace', index=False)
top_trans_pin_df.to_sql('top_transaction_pincode', engine, if_exists='replace', index=False)
top_user_dist_df.to_sql('top_user_district', engine, if_exists='replace', index=False)
top_user_pin_df.to_sql('top_user_pincode', engine, if_exists='replace', index=False)

314